## **Creación del modelo item-item**

In [1]:
import pandas as pd

In [7]:
# # abrimos los archivos parquet
# games = pd.read_parquet('parquet/games.parquet')
# # items = pd.read_parquet('parquet/items.parquet')
# reviews = pd.read_parquet('parquet/reviews.parquet')

In [8]:
# unir el dataframe games y el dataframe reviews
# unir_df = pd.merge(games, reviews, left_on='item_id', right_on='item_id', how='inner')

In [9]:
# unir_df

,genres,item_name,release_date,price,item_id,developer,user_id,user_url,recommend,year,sentiment_analysis
0,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,http://steamcommunity.com/id/InstigatorAU,True,2014,1
1,Indie,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,http://steamcommunity.com/id/InstigatorAU,True,2014,1
2,Racing,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,http://steamcommunity.com/id/InstigatorAU,True,2014,1
3,Action,Half-Life,1998,9.99,70,Valve,76561198096849086,http://steamcommunity.com/profiles/76561198096...,True,2015,0
4,Action,Half-Life,1998,9.99,70,Valve,GamerFag,http://steamcommunity.com/id/GamerFag,True,2011,0
...,...,...,...,...,...,...,...,...,...,...,...
121557,Action,Counter-Strike: Condition Zero,2004,9.99,80,Valve,LaLocaDeLosDulces,http://steamcommunity.com/id/LaLocaDeLosDulces,True,2015,1
121558,Action,Counter-Strike: Condition Zero,2004,9.99,80,Valve,bindisposerer,http://steamcommunity.com/id/bindisposerer,True,2015,2
121559,Action,Counter-Strike: Condition Zero,2004,9.99,80,Valve,76561198071835052,http://steamcommunity.com/profiles/76561198071...,True,2015,2
121560,Action,Counter-Strike: Condition Zero,2004,9.99,80,Valve,lachwe,http://steamcommunity.com/id/lachwe,True,2015,0
121561,Action,Counter-Strike: Condition Zero,2004,9.99,80,Valve,76561198015050660,http://steamcommunity.com/profiles/76561198015...,False,2014,1

In [10]:
# en un nuevo dataframe llamado games_reviews seleccionar las siguientes columnas para ese dataframe item_id, recommend, sentiment_analysis, item_name
# data es la union de los dataframes games y reviews
# data = unir_df[['item_id', 'recommend', 'sentiment_analysis', 'item_name']]

In [ ]:
# data

In [14]:
# convertir items a un archivo parquet
# items.to_parquet('items.parquet')

In [2]:
data = pd.read_parquet('data.parquet')

In [19]:
# Importar las bibliotecas necesarias
# from sklearn.metrics.pairwise import cosine_similarity
# import numpy as np

# # Función para recomendación de juegos similar al ítem ingresado
# def recomendacion_juego(id_de_producto, data):
#     # Filtrar el juego de interés
#     juego_seleccionado = data[data['item_id'] == id_de_producto]

#     # Extraer las características relevantes para el cálculo de similitud
#     caracteristicas_juegos = data[['recommend', 'sentiment_analysis']]

#     # Calcular la similitud del coseno entre el juego seleccionado y los demás juegos
#     similarity_scores = cosine_similarity(juego_seleccionado[['recommend', 'sentiment_analysis']], caracteristicas_juegos)

#     # Obtener los índices de los juegos más similares
#     indices_similares = np.argsort(similarity_scores[0])[-6:-1]  # Excluimos el propio juego

#     # Mostrar los juegos recomendados
#     juegos_recomendados = data.iloc[indices_similares]['item_name'].tolist()

#     return juegos_recomendados

In [ ]:
# Ejemplo de uso
# id_juego = 761140  # Aquí debes ingresar el ID del juego de interés
# juegos_recomendados = recomendacion_juego(id_juego, data)
# print("Juegos recomendados similares al juego con ID", id_juego, ":", juegos_recomendados)

## **Creación del modelo user-item**

In [26]:
items = pd.read_parquet('parquet/items.parquet')

In [27]:
items.head(0)

Empty DataFrame
Columns: [item_id, item_name, playtime_forever, user_id, items_count]
Index: []

In [28]:
# Función para recomendación de juegos para un usuario dado
def recomendacion_usuario(id_de_usuario, items):
    # Filtrar las interacciones del usuario
    interacciones_usuario = items[items['user_id'] == id_de_usuario]

    # Contar las interacciones por juego y ordenarlos de mayor a menor
    conteo_interacciones = interacciones_usuario.groupby('item_id').size().sort_values(ascending=False)

    # Obtener los juegos más populares entre los usuarios similares
    juegos_populares = conteo_interacciones.head(5).index.tolist()

    # Mostrar los juegos recomendados
    juegos_recomendados = items[items['item_id'].isin(juegos_populares)]['item_name'].unique().tolist()

    return juegos_recomendados

In [29]:
id_usuario = 761140  # Aquí debes ingresar el ID del usuario de interés
juegos_recomendados_usuario = recomendacion_usuario(id_usuario, items)
print("Juegos recomendados para el usuario con ID", id_usuario, ":", juegos_recomendados_usuario)

Juegos recomendados para el usuario con ID 761140 : []

In [23]:
# cambiar item_name a string
data['item_name'] = data['item_name'].astype(str)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121562 entries, 0 to 121561
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   item_id             121562 non-null  int32
 1   recommend           121562 non-null  bool
 2   sentiment_analysis  121562 non-null  int32
 3   item_name           121562 non-null  object
dtypes: bool(1), int32(2), object(1)
memory usage: 2.0+ MB

**item-item**

Para el sistema de recomendación basado en **``item-item``** utilizando la biblioteca `scikit-learn`.  con las columnas `user_id`, `item_id`, `recommend` y `sentiment_analysis`.

En este código, primero creamos la matriz de utilidad utilizando el método `pivot_table()`. Luego, rellenamos los valores faltantes con 0 utilizando el método `fillna()`. Después, calculamos la similitud del coseno utilizando la función `cosine_similarity()` de `scikit-learn`. Convertimos los resultados en un DataFrame y luego definimos la función `recomendacion_juego()`, que toma un `item_id` y devuelve los 5 juegos más similares. Finalmente, probamos la función con un `item_id` de 1.

Por favor, ten en cuenta que este es un enfoque simplificado y que hay muchos otros factores que podrías considerar al crear un sistema de recomendación, como el filtrado basado en contenido, el uso de técnicas de factorización de matrices, y la consideración de la popularidad y la novedad de los juegos.

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

# Crear la matriz de utilidad
matrix = data.pivot_table(index='item_id', columns='item_id', values='sentiment_analysis')

# Rellenar los valores faltantes con 0
matrix.fillna(0, inplace=True)

# Calcular la similitud del coseno
item_similarity = cosine_similarity(matrix.T)

# Convertir los resultados en un DataFrame
item_similarity_df = pd.DataFrame(item_similarity, index=matrix.columns, columns=matrix.columns)

def recomendacion_juego(item_id):
    # Obtener los juegos similares al juego dado
    similar_games = item_similarity_df[item_id].sort_values(ascending=False)

    # Devolver los 5 juegos más similares
    return similar_games.head(6).index.tolist()[1:]  # Excluimos el primer juego porque es el mismo juego

In [3]:
data.head(4)

   item_id  recommend  sentiment_analysis             item_name
0   282010       True                   1  Carmageddon Max Pack
1   282010       True                   1  Carmageddon Max Pack
2   282010       True                   1  Carmageddon Max Pack
3       70       True                   0             Half-Life

In [ ]:
# Prueba la función con un item_id
print(recomendacion_juego(10))

In [36]:
# Prueba la función con un item_id
print(recomendacion_juego(10))

[41050, 412730, 71165, 254480, 360]

In [35]:
# mostrar valores de la matriz
matrix.head(0)

Empty DataFrame
Columns: [10, 20, 30, 40, 50, 60, 70, 80, 130, 220, 240, 280, 300, 320, 340, 360, 380, 400, 410, 420, 440, 500, 550, 570, 620, 630, 730, 1200, 1250, 1280, 1510, 1520, 1670, 1690, 1840, 1900, 1930, 2100, 2200, 2270, 2280, 2290, 2300, 2310, 2320, 2400, 2420, 2450, 2500, 2570, 2590, 2600, 2610, 2620, 2630, 2640, 2700, 2760, 2810, 2820, 2850, 2870, 2990, 3050, 3170, 3260, 3320, 3370, 3390, 3450, 3470, 3480, 3483, 3590, 3620, 3700, 3710, 3720, 3730, 3800, 3830, 3900, 3910, 3920, 4000, 4500, 4540, 4550, 4560, 4570, 4580, 4700, 4720, 4760, 4780, 4830, 4850, 4920, 6000, 6020, ...]
Index: []

[0 rows x 3634 columns]

In [37]:
reviews.head(0)

Empty DataFrame
Columns: [user_id, user_url, item_id, recommend, year, sentiment_analysis]
Index: []

In [38]:
data.head(0)

Empty DataFrame
Columns: [item_id, recommend, sentiment_analysis, item_name]
Index: []

prompt
ajustar el codigo para cuando se de el resultado de los 5 juegos recomendados aparezca el id del juego y al lado el nombre de ese juego item_name

In [40]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Convertir la columna 'recommend' a valores numéricos
data['recommend'] = data['recommend'].apply(lambda x: 1 if x else 0)

# Crear la matriz de utilidad
matrix = data.pivot_table(index='item_id', values=['recommend', 'sentiment_analysis'])

# Rellenar los valores faltantes con 0
matrix.fillna(0, inplace=True)

# Calcular la similitud del coseno
item_similarity = cosine_similarity(matrix)

# Convertir los resultados en un DataFrame
item_similarity_df = pd.DataFrame(item_similarity, index=matrix.index, columns=matrix.index)

def recomendacion_juego(item_id):
    # Obtener los juegos similares al juego dado
    similar_games = item_similarity_df[item_id].sort_values(ascending=False)

    # Devolver los 5 juegos más similares
    return similar_games.head(6).index.tolist()[1:]  # Excluimos el primer juego porque es el mismo juego

In [42]:

# Prueba la función con un item_id
print(recomendacion_juego(10))

[4560, 222880, 206500, 6060, 22380]

Mejorado muestra item_id y item_name

In [5]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Convertir la columna 'recommend' a valores numéricos
data['recommend'] = data['recommend'].apply(lambda x: 1 if x else 0)

# Crear la matriz de utilidad
matrix = data.pivot_table(index='item_id', values=['recommend', 'sentiment_analysis'])

# Rellenar los valores faltantes con 0
matrix.fillna(0, inplace=True)

# Calcular la similitud del coseno
item_similarity = cosine_similarity(matrix)

# Convertir los resultados en un DataFrame
item_similarity_df = pd.DataFrame(item_similarity, index=matrix.index, columns=matrix.index)

def recomendacion_juego(item_id):
    # Obtener los juegos similares al juego dado
    similar_games = item_similarity_df[item_id].sort_values(ascending=False)

    # Obtener los 5 juegos más similares
    similar_games_ids = similar_games.head(6).index.tolist()[1:]  # Excluimos el primer juego porque es el mismo juego

    # Crear un DataFrame con los IDs y los nombres de los juegos
    recommended_games = pd.DataFrame(similar_games_ids, columns=['item_id'])
    recommended_games['item_name'] = recommended_games['item_id'].apply(lambda id: data[data['item_id'] == id]['item_name'].iloc[0])

    return recommended_games

In [17]:
data.head(0)

Empty DataFrame
Columns: [item_id, recommend, sentiment_analysis, item_name]
Index: []

In [18]:
# convertir a data a parquet
data.to_parquet('item_item.parquet')

In [13]:
# abrir el archivo item_similarity.pkl 
item_similarity_pkl = pd.read_pickle('item_similarity.pkl')

In [15]:
item_similarity_pkl.head(5)

item_id,10,20,30,40,50,60,70,80,130,220,...,512540,512630,514520,516040,520550,521340,521430,521570,521990,527340
item_id,,,,,,,,,,,,,,,,,,,,,
10,1.000000,0.989304,0.987855,0.995275,0.979641,0.995510,0.999556,0.997759,0.998239,0.999946,...,0.912315,0.846776,0.995275,0.995275,0.995275,0.995275,0.995275,0.531949,0.995275,0.974906
20,0.989304,1.000000,0.999954,0.998793,0.998447,0.971055,0.984516,0.996847,0.978910,0.987727,...,0.842824,0.915315,0.998793,0.998793,0.998793,0.998793,0.998793,0.402739,0.998793,0.932005
30,0.987855,0.999954,1.000000,0.998274,0.998937,0.968713,0.982785,0.996038,0.976900,0.986180,...,0.837611,0.919145,0.998274,0.998274,0.998274,0.998274,0.998274,0.393919,0.998274,0.928477
40,0.995275,0.998793,0.998274,1.000000,0.994505,0.981615,0.991938,0.999541,0.987763,0.994207,...,0.868243,0.894427,1.000000,1.000000,1.000000,1.000000,1.000000,0.447214,1.000000,0.948683
50,0.979641,0.998447,0.998937,0.994505,1.000000,0.956241,0.973222,0.990878,0.966009,0.977493,...,0.811534,0.936329,0.994505,0.994505,0.994505,0.994505,0.994505,0.351123,0.994505,0.910366

In [11]:
# convertir en un csv la matriz de similitud
item_similarity_df.to_csv('item_similarity.csv')

In [10]:
# extrarer la matriz de similitud en un archivo .pkl
item_similarity_df.to_pickle('item_similarity.pkl')

In [16]:
# Prueba la función con un item_id
recomendacion_juego(10)

   item_id                                 item_name
0     4560        Company of Heroes - Legacy Edition
1   222880                                Insurgency
2   206500                            AirMech Strike
3     6060  Star Wars: Battlefront 2 (Classic, 2005)
4    22380                        Fallout: New Vegas

In [81]:
recomendacion_juego(282010)

   item_id              item_name
0   341720          Among Ripples
1   290890  You Must Build A Boat
2   270370       Lambda Wars Beta
3   397100           MachineCraft
4   274290  Gods Will Be Watching

In [46]:
# mostrar lista de valore unicos de la columna item_id del datraframe data
data['item_id'].unique()

array([282010,     70,   2400, ...,     30,  13230,     80])

In [58]:
# mostrar cual es el juego con el id 80
data[data['item_id'] == 30]

        item_id  recommend  sentiment_analysis      item_name
121542       30          0                   1  Day of Defeat
121543       30          1                   2  Day of Defeat
121544       30          1                   2  Day of Defeat
121545       30          1                   2  Day of Defeat

In [80]:
# mostrar la matriz 
matrix.head()

         recommend  sentiment_analysis
item_id
10        0.980000            1.560000
20        0.647059            1.470588
30        0.750000            1.750000
40        1.000000            2.000000
50        0.750000            2.000000

In [75]:
# mostrar cual es el juego con el id 80 en el dataframe games
games[games['item_id'] == 13230]

,genres,item_name,release_date,price,item_id,developer
74797,Action,Unreal Tournament 2004: Editor's Choice Edition,2004,14.99,13230,"Epic Games, Inc."

Considero que no es necesario aplicar modelos de regresión lineal u otros modelos de aprendizaje supervisado para entrenar un sistema de recomendación basado en item-item. Este tipo de sistema de recomendación se basa en el cálculo de la similitud entre los items, que en este caso son los juegos.

Así que utilizamos la similitud del coseno para calcular la similitud entre los juegos. Esta es una medida de similitud que se utiliza a menudo en los sistemas de recomendación y no requiere de un modelo de aprendizaje supervisado.

Los modelos de aprendizaje supervisado, como la regresión lineal, se utilizan cuando tienes una variable objetivo que quieres predecir en base a un conjunto de características. En un sistema de recomendación basado en item-item, no estamos tratando de predecir una variable objetivo, sino que estamos tratando de encontrar items que son similares entre sí. Por lo tanto, no necesitamos utilizar un modelo de aprendizaje supervisado.

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Convertir la columna 'recommend' a valores numéricos
reviews['recommend'] = reviews['recommend'].apply(lambda x: 1 if x else 0)

# Crear la matriz de utilidad
matrix = reviews.pivot_table(index='user_id', columns='item_id', values='recommend')

# Rellenar los valores faltantes con 0
matrix.fillna(0, inplace=True)

# Calcular la similitud del coseno
user_similarity = cosine_similarity(matrix)

# Convertir los resultados en un DataFrame
user_similarity_df = pd.DataFrame(user_similarity, index=matrix.index, columns=matrix.index)

def recomendacion_usuario(user_id):
    # Obtener los usuarios similares al usuario dado
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)

    # Obtener los 5 usuarios más similares
    similar_users_ids = similar_users.head(6).index.tolist()[1:]  # Excluimos el primer usuario porque es el mismo usuario

    # Obtener los juegos que los usuarios similares han jugado
    similar_users_games = reviews[df['user_id'].isin(similar_users_ids)]['item_id'].unique()

    # Excluir los juegos que el usuario ya ha jugado
    user_games = reviews[reviews['user_id'] == user_id]['item_id'].unique()
    recommended_games = [game for game in similar_users_games if game not in user_games]

    # Devolver los 5 primeros juegos recomendados
    return recommended_games[:5]

In [ ]:
# Tomar una muestra aleatoria del 10% de los datos
df_sample = df.sample(frac=0.1)

# Luego, puedes reemplazar 'df' con 'df_sample' en tu código
matrix = df_sample.pivot_table(index='user_id', columns='item_id', values='recommend')
matrix.fillna(0, inplace=True)
user_similarity = cosine_similarity(matrix)
user_similarity_df = pd.DataFrame(user_similarity, index=matrix.index, columns=matrix.index)

In [ ]:

# Prueba la función con un user_id
print(recomendacion_usuario(1))

In [82]:
data.head(0)

Empty DataFrame
Columns: [item_id, recommend, sentiment_analysis, item_name]
Index: []

In [84]:
reviews.head(0)

Empty DataFrame
Columns: [user_id, user_url, item_id, recommend, year, sentiment_analysis]
Index: []

In [86]:
# Tomar una muestra aleatoria del 10% de los datos
df_sample = reviews.sample(frac=0.1)

# Luego, puedes reemplazar 'df' con 'df_sample' en tu código
matrix = df_sample.pivot_table(index='user_id', columns='item_id', values='recommend')
matrix.fillna(0, inplace=True)
user_similarity = cosine_similarity(matrix)
user_similarity_df = pd.DataFrame(user_similarity, index=matrix.index, columns=matrix.index)

In [87]:
def recomendacion_usuario(user_id):
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)
    similar_users_ids = similar_users.head(6).index.tolist()[1:]
    similar_users_games = df_sample[df_sample['user_id'].isin(similar_users_ids)]['item_id'].unique()
    user_games = df_sample[df_sample['user_id'] == user_id]['item_id'].unique()
    recommended_games = [game for game in similar_users_games if game not in user_games]
    return recommended_games[:5]

In [91]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Tomar una muestra aleatoria del 10% de los datos
reviews_sample = reviews.sample(frac=0.1)

# Crear la matriz de utilidad
matrix = reviews_sample.pivot_table(index='user_id', columns='item_id', values='recommend')

# Rellenar los valores faltantes con 0
matrix.fillna(0, inplace=True)

# Calcular la similitud del coseno
user_similarity = cosine_similarity(matrix)

# Convertir los resultados en un DataFrame
user_similarity_df = pd.DataFrame(user_similarity, index=matrix.index, columns=matrix.index)

def recomendacion_usuario(user_id):
    # Obtener los usuarios similares al usuario dado
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)

    # Obtener los 5 usuarios más similares
    similar_users_ids = similar_users.head(6).index.tolist()[1:]  # Excluimos el primer usuario porque es el mismo usuario

    # Obtener los juegos que los usuarios similares han jugado
    similar_users_games = reviews_sample[reviews_sample['user_id'].isin(similar_users_ids)]['item_id'].unique()

    # Excluir los juegos que el usuario ya ha jugado
    user_games = reviews_sample[reviews_sample['user_id'] == user_id]['item_id'].unique()
    recommended_games = [game for game in similar_users_games if game not in user_games]

    # Devolver los 5 primeros juegos recomendados
    return recommended_games[:5]

In [103]:
# Prueba la función con un user_id es string
print(recomendacion_usuario('76561198026256686'))

[105600, 39690, 251170, 248820, 251670]

In [105]:
def recomendacion_usuario(user_id):
    # Obtener los usuarios similares al usuario dado
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)

    # Obtener los 5 usuarios más similares
    similar_users_ids = similar_users.head(6).index.tolist()[1:]  # Excluimos el primer usuario porque es el mismo usuario

    # Obtener los juegos que los usuarios similares han jugado
    similar_users_games = reviews_sample[reviews_sample['user_id'].isin(similar_users_ids)]['item_id'].unique()

    # Excluir los juegos que el usuario ya ha jugado
    user_games = reviews_sample[reviews_sample['user_id'] == user_id]['item_id'].unique()
    recommended_games = [game for game in similar_users_games if game not in user_games]

    # Devolver los 5 primeros juegos recomendados con el mensaje
    return "A usuarios que son similares a ti también les gustó: " + ', '.join(map(str, recommended_games[:5]))

In [106]:
# Prueba la función con un user_id es string
print(recomendacion_usuario('76561198026256686'))

A usuarios que son similares a ti también les gustó: 105600, 39690, 251170, 248820, 251670

In [107]:
def recomendacion_usuario(user_id):
    # Obtener los usuarios similares al usuario dado
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)

    # Obtener los 5 usuarios más similares
    similar_users_ids = similar_users.head(6).index.tolist()[1:]  # Excluimos el primer usuario porque es el mismo usuario

    # Obtener los juegos que los usuarios similares han jugado
    similar_users_games = reviews_sample[reviews_sample['user_id'].isin(similar_users_ids)]['item_id'].unique()

    # Excluir los juegos que el usuario ya ha jugado
    user_games = reviews_sample[reviews_sample['user_id'] == user_id]['item_id'].unique()
    recommended_games_ids = [game for game in similar_users_games if game not in user_games]

    # Mapear los 'item_id' a los 'item_name'
    recommended_games_names = reviews_sample[reviews_sample['item_id'].isin(recommended_games_ids)]['item_name'].unique().tolist()

    # Devolver los 5 primeros juegos recomendados con el mensaje
    return "A usuarios que son similares a ti también les gustó: " + ', '.join(map(str, recommended_games_names[:5]))

In [ ]:
# Prueba la función con un user_id es string
print(recomendacion_usuario('76561198026256686'))

In [100]:
reviews_sample

,user_id,user_url,item_id,recommend,year,sentiment_analysis
14064,76561198026256686,http://steamcommunity.com/profiles/76561198026...,12470,0,2013,0
42938,76561198069399454,http://steamcommunity.com/profiles/76561198069...,271590,1,2015,0
12942,76561198079579272,http://steamcommunity.com/profiles/76561198079...,8870,1,2013,1
32886,76561198073116713,http://steamcommunity.com/profiles/76561198073...,230050,1,2014,2
37245,Greyninja737,http://steamcommunity.com/id/Greyninja737,243870,1,2014,2
...,...,...,...,...,...,...
37221,MrRandomGuy,http://steamcommunity.com/id/MrRandomGuy,243780,1,2014,2
36782,whofckcares,http://steamcommunity.com/id/whofckcares,242760,1,2015,2
40764,proletar666,http://steamcommunity.com/id/proletar666,258180,1,2014,2
1534,souedu,http://steamcommunity.com/id/souedu,440,1,2014,0
1326,ToioT,http://steamcommunity.com/id/ToioT,440,1,2014,2

In [ ]:
# pasar reviews a un nuevo dataframe llamado user_recommend y seleccionar las siguientes columnas para ese dataframe user_id, recommend, sentiment_analysis, item_name

In [20]:
# abrir un archivo parquet llamado user_recommend
games_reviews_user_items = pd.read_parquet('games_reviews.parquet')

In [21]:
games_reviews_user_items.head(0)

Empty DataFrame
Columns: [genres, item_name, release_date, price, item_id, developer, user_id, user_url, recommend, year, sentiment_analysis]
Index: []

In [94]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55313 entries, 0 to 55312
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             55313 non-null  string
 1   user_url            55313 non-null  string
 2   item_id             55313 non-null  int32
 3   recommend           55313 non-null  int64
 4   year                55313 non-null  int32
 5   sentiment_analysis  55313 non-null  int32
dtypes: int32(3), int64(1), string(2)
memory usage: 1.9 MB

### User-item cambio definitivo

In [110]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Convertir la columna 'recommend' a int (True se convierte en 1 y False en 0)
reviews['recommend'] = reviews['recommend'].astype(int)

# Convertir la columna 'sentiment_analysis' a int
reviews['sentiment_analysis'] = reviews['sentiment_analysis'].astype(int)

# Crear una nueva columna 'rating' que es la suma de 'recommend' y 'sentiment_analysis'
reviews['rating'] = reviews['recommend'] + reviews['sentiment_analysis']

# Crear la matriz de utilidad
utility_matrix = reviews.pivot_table(values='rating', index='user_id', columns='item_id', fill_value=0)

# Calcular la similitud del coseno entre los usuarios
user_similarity = cosine_similarity(utility_matrix)

# Convertir el resultado en un DataFrame para facilitar su manejo
user_similarity_df = pd.DataFrame(user_similarity, index=utility_matrix.index, columns=utility_matrix.index)

In [116]:
reviews.head(2)

,user_id,user_url,item_id,recommend,year,sentiment_analysis,rating
0,Hype_R,http://steamcommunity.com/id/Hype_R,10,1,2014,2,3
1,lanatbeonakeehsasamokoshtan,http://steamcommunity.com/id/lanatbeonakeehsas...,10,1,2014,2,3

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Convertir la columna 'recommend' a int (True se convierte en 1 y False en 0)
reviews['recommend'] = reviews['recommend'].astype(int)

# Convertir la columna 'sentiment_analysis' a int
reviews['sentiment_analysis'] = reviews['sentiment_analysis'].astype(int)

# Crear una nueva columna 'rating' que es 1 si 'recommend' es True o 'sentiment_analysis' es 2, y 0 en caso contrario
reviews['rating'] = ((reviews['recommend'] == 1) | (reviews['sentiment_analysis'] == 2)).astype(int)

# Crear la matriz de utilidad
utility_matrix = reviews.pivot_table(values='rating', index='user_id', columns='item_id', fill_value=0)

# Calcular la similitud del coseno entre los usuarios
user_similarity = cosine_similarity(utility_matrix)

# Convertir el resultado en un DataFrame para facilitar su manejo
user_similarity_df = pd.DataFrame(user_similarity, index=utility_matrix.index, columns=utility_matrix.index)

# Guardar el DataFrame en un archivo .pkl
user_similarity_df.to_pickle("user_similarity_df.pkl")

# Función de recomendación de usuario
def recomendacion_usuario(user_id):
    # Obtener los usuarios similares al usuario dado
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)

    # Obtener los 5 usuarios más similares
    similar_users_ids = similar_users.head(6).index.tolist()[1:]  # Excluimos el primer usuario porque es el mismo usuario

    # Obtener los juegos que los usuarios similares han jugado
    similar_users_games = reviews[reviews['user_id'].isin(similar_users_ids)]['item_id'].unique()

    # Excluir los juegos que el usuario ya ha jugado
    user_games = reviews[reviews['user_id'] == user_id]['item_id'].unique()
    recommended_games_ids = [game for game in similar_users_games if game not in user_games]

    # Mapear los 'item_id' a los 'item_name'
    item_mapping = reviews[['item_id', 'item_name']].drop_duplicates().set_index('item_id').to_dict()['item_name']
    recommended_games_names = [item_mapping[id] for id in recommended_games_ids]

    # Devolver los 5 primeros juegos recomendados con el mensaje
    return "A usuarios que son similares a ti también les gustó: " + ', '.join(map(str, recommended_games_names[:5]))

# Prueba la función con un user_id
print(recomendacion_usuario(1))

In [23]:
# abrir un archivo csv
items_similares = pd.read_csv('item_similarity.csv')

In [25]:
item_similarity_df.head(10)

item_id,10,20,30,40,50,60,70,80,130,220,...,512540,512630,514520,516040,520550,521340,521430,521570,521990,527340
item_id,,,,,,,,,,,,,,,,,,,,,
10,1.000000,0.989304,0.987855,0.995275,0.979641,0.995510,0.999556,0.997759,0.998239,0.999946,...,0.912315,0.846776,0.995275,0.995275,0.995275,0.995275,0.995275,0.531949,0.995275,0.974906
20,0.989304,1.000000,0.999954,0.998793,0.998447,0.971055,0.984516,0.996847,0.978910,0.987727,...,0.842824,0.915315,0.998793,0.998793,0.998793,0.998793,0.998793,0.402739,0.998793,0.932005
30,0.987855,0.999954,1.000000,0.998274,0.998937,0.968713,0.982785,0.996038,0.976900,0.986180,...,0.837611,0.919145,0.998274,0.998274,0.998274,0.998274,0.998274,0.393919,0.998274,0.928477
40,0.995275,0.998793,0.998274,1.000000,0.994505,0.981615,0.991938,0.999541,0.987763,0.994207,...,0.868243,0.894427,1.000000,1.000000,1.000000,1.000000,1.000000,0.447214,1.000000,0.948683
50,0.979641,0.998447,0.998937,0.994505,1.000000,0.956241,0.973222,0.990878,0.966009,0.977493,...,0.811534,0.936329,0.994505,0.994505,0.994505,0.994505,0.994505,0.351123,0.994505,0.910366
60,0.995510,0.971055,0.968713,0.981615,0.956241,1.000000,0.997889,0.986946,0.999372,0.996444,...,0.946979,0.792624,0.981615,0.981615,0.981615,0.981615,0.981615,0.609711,0.981615,0.991600
70,0.999556,0.984516,0.982785,0.991938,0.973222,0.997889,1.000000,0.995321,0.999564,0.999812,...,0.924116,0.830544,0.991938,0.991938,0.991938,0.991938,0.991938,0.556953,0.991938,0.981109
80,0.997759,0.996847,0.996038,0.999541,0.990878,0.986946,0.995321,1.000000,0.992034,0.997006,...,0.882872,0.880471,0.999541,0.999541,0.999541,0.999541,0.999541,0.474100,0.999541,0.957826
130,0.998239,0.978910,0.976900,0.987763,0.966009,0.999372,0.999564,0.992034,1.000000,0.998804,...,0.934998,0.813733,0.987763,0.987763,0.987763,0.987763,0.987763,0.581238,0.987763,0.986394
220,0.999946,0.987727,0.986180,0.994207,0.977493,0.996444,0.999812,0.997006,0.998804,1.000000,...,0.916539,0.841178,0.994207,0.994207,0.994207,0.994207,0.994207,0.540758,0.994207,0.977176